html {
  font-size: 100%;
  line-height: 1.3;
}

* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  padding: 0;
  margin: 0;
  transition: 300ms;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

img {
  max-width: 100%;
}